@page "/test"
@using Controller

<button @onclick="TestMethod">Test</button>


@code {
    [Inject]
    public IRequestExceptionNotify Notify { get; set; } = null!;

    private void TestMethod()
    {
        Notify.Notify("Test");
    }
}
