

<div @attributes="InputAttributes">
    <div class="text-right">
        <MButton Plain Color="error" OnClick="Logout">
            @I18n.T("Logout")
        </MButton>

        <MButton Plain Color="info">
            @I18n.T("Submit")
        </MButton>
    </div>
</div>