<div @attributes="InputAttributes">
    <MImage Style="max-height: calc(15vh + 80px);" Src="@Header" />

    @if (Authenticator.Id == Id)
    {
        <div class="edit-zone">
            <InputFile id="header" style="display: none;" accept="image/*" OnChange="Upload" />
            <MButton Depressed Tile Style="padding: 0%; display: flex;" Class="edit-button">
                <label for="header">@I18n.T("Edit")</label>
            </MButton>
        </div>
    }
</div>

<style>
    .edit-zone {
        position: absolute;
        top: 0;
        right: 0;
    }

    .edit-button {
        opacity: 0.5;
        transition: opacity 0.3s;
    }

        .edit-button:hover {
            opacity: 1;
        }

        .edit-button label {
            cursor: pointer;
            align-content: center;
            justify-content: center;
            width: 100%;
            height: 36px;
        }
</style>